* {
    margin: 0;
    padding: 0;

    font-family: 'Inter', sans-serif;

}


#modebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
}

body {
    background-color: 	#f4f7fa;
    min-height: 100vh;
}
#mode {
    background-color:	#1e1e2f;
    color: 	#e0e6ed;
    
    border: none;
    border-radius: 2rem;
    height:3rem; 
    width:8rem; 
    font-size: 1.08rem;
}
.container {
    background-color: 		#e3efff;
    color: 			#1e1e2f;
    
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

.converter {
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    margin: 2rem 0 1rem 0;
}

form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding: .5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    display: flex;
    width: 6rem;
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
}

form button {
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
}

.amount p {
    font-size: 1.25rem;
}